/* ---- reset ---- */

html {
  box-sizing:border-box;
}
html, body
{
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web';font-size: 17px;
}
*,*:before,*:after {
  box-sizing:inherit
}

body {
  margin: 0;
  font:normal 85% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}