label {
	font-size: 25px;
	margin-top: 17px;
	margin-bottom: 15px;
}
input[type=text], input[type=password], input[type=text]:disabled, input[type=password]:disabled {
	margin-top: -5px;
	height: 18px;
	font-size: 15px;
	background-color: #ddd;
    border: none;
    border-bottom: 3px solid #444;
    width: 30%;
    -webkit-transition: width 0.8s ease-in-out;
    transition: width 0.8s ease-in-out;
}
input[type=text]:focus, input[type=password]:focus {
    border-bottom: 3px solid #1dad35;
    width: 70%;
}
input[type=text]:hover, input[type=password]:hover {
	animation: coloring 3s infinite;
	border-bottom: 3px solid currentColor;
}
@keyframes coloring {
  0%, 100% { color: #444; }
  50% { color: #1dad35; }
}
fieldset {
	text-align: center;
	margin: 20px 20px 20px 20px;
}
h2 {
	text-decoration: underline;
	font-size: 40px;
	margin-bottom: 17px;
	margin-top: -5px;
}
#submit {
	border-radius: 8px;
	margin-bottom: 5px;
	font-size: 20px;
	background-color: #ddd; 
  	color: #4CAF50; 
 	border: 4px solid #4CAF50;
 	padding: 8px 16px;
 	-webkit-transition-duration: 0.5s;
 	transition-duration: 0.5s;
}
#submit:hover {
    background-color: #4CAF50;
    color: #ddd;
}
.form-group {
	margin-top: 10px;
}
.extra {
	font-size: 14px;
	margin-top: 8px;
	margin-bottom: 5px;
}
.extra-link, .extra-link:visited {
	text-decoration: none;
	-webkit-transition-duration: 0.5s;
 	transition-duration: 0.5s;
}
.extra-link:hover, .extra-link:visited:hover {
	text-decoration: none;
	color: #00b6ff;
}