{% extends "base.html" %}

{% block title %}404{% endblock %}

{% block head_meta %}
    <meta name="description" content="404 not found page for Lowell Dashboard">
{% endblock %}

{% block head_css%}
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/404.css') }}>
{% endblock %}

{% block content %}
	<div class="wrapper">
		<h1 class="sizing glitch front">404</h1>
		<h1 class="sizing glitch back">404</h1>
		<h2 class="notfound">We couldn't find what you were looking for ...</h2>
		<div class="links">
			<a href="/report/bug">This is a bug!</a>
        </div>
        <div class="links">
        	<a href="/help">I'm lost!</a>
       	</div>
       	<div class="links">
       		<a href="/">I wanna go home ...</a>
       	</div>
        <div class="links">
       		<a href="https://github.com/lowell-dashboard/lowell-dashboard">I can fix this</a>
        </div>
	</div>
{% endblock %}