<!DOCTYPE html>
<html>
<head>
	<style>
	html, body {margin:0px; padding:0px; background-color: #ddd;}
	.lowelldashboard {text-decoration: none;color: #000;}
	</style>
</head>
<body>
	<p>Hi,</p>

	<p>Somebody (hopefully you!) requested an activation link for a <a href="https://lowelldashboard.com" class="lowelldashboard">Lowell Dashboard</a> account.</p>

	<p>Your activation link is <a href="{{ url }}">here: {{ url }}</a>. It will expire in 1 hour.</p>

	<p>- <a href="https://lowelldashboard.com" class="lowelldashboard">Lowell Dashboard Team</a></p>
</body>
</html>