<footer>
	  <h3>Lowell Dashboard</h3>

        <div class="col">
            <ul>
                <h5>Quick Links</h5>
                <a href="/login/" class="nounderline"><p>Login</p></a>
                <a href="/register/form" class="nounderline"><p>Register</p></a>
            </ul>
        </div>

        <div class="col">
            <ul>
                <h5>Forms</h5>
                <a href="/bugreport/form" class="nounderline"><p>Report Bugs</p></a>
                <a href="/news/form" class="nounderline"><p>Create News</p></a>
            </ul>
        </div>

        <div class="col">
            <ul>
                <h5>Help</h5>
                <a href="/help/" class="nounderline"><p>Quick Help</p></a>
                <a href="/help/faq" class="nounderline"><p>FAQ</p></a>
            </ul>
        </div>

        <div class="col">
            <ul>
                <h5>Policies</h5>
                <a href="/files/disclaimer" class="nounderline"><p>Disclaimer</p></a>
                <a href="/files/license" class="nounderline"><p>License</p></a>
                <a href="/files/privacy" class="nounderline"><p>Privacy</p></a>
                <a href="/files/terms" class="nounderline"><p>Terms</p></a>
                <a href="/files/guidelines" class="nounderline"><p>Posting Guidelines</p></a>
            </ul>
        </div>

    <h4 class="copyright">© 2019 Lowell-Dashboard Github Organization. All Rights Reserved.</h4>

</footer>

