<footer>
	<h3>Lowell Dashboard</h3>

      <div class="container">

        <div class="row">

          <div class="col-xs-3">
            <ul>
              <strong><center><p>Quick Links</p></center></strong>
              <a href="/login/" class="nounderline"><center><p>Login</p></center></a>
              <a href="/register/form" class="nounderline"><center><p>Register</p></center></a>
            </ul>
          </div>

          <div class="col-xs-3">
            <ul>
              <strong><center><p>Forms</p></center></strong>
              <a href="/bugreport/form" class="nounderline"><center><p>Report Bugs</p></center></a>
              <a href="/news/form" class="nounderline"><center><p>Create News</p></center></a>
            </ul>
          </div>

          <div class="col-xs-3">
            <ul>
              <strong><center><p>Help</p></center></strong>
              <a href="/help/" class="nounderline"><center><p>Quick Help</p></center></a>
              <a href="/help/faq" class="nounderline"><center><p>FAQ</p></center></a>
            </ul>
          </div>

          <div class="col-xs-3">
            <ul>
              <strong><center><p>Policies</p></center></strong>
              <a href="/files/disclaimer" class="nounderline"><center><p>Disclaimer</p></center></a>
              <a href="/files/license" class="nounderline"><center><p>License</p></center></a>
              <a href="/files/privacy" class="nounderline"><center><p>Privacy</p></center></a>
              <a href="/files/terms" class="nounderline"><center><p>Terms</p></center></a>
              <a href="/files/guidelines" class="nounderline"><center><p>Posting Guidelines</p></center></a>
            </ul>
          </div>

        </div>

      </div>

      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <center><h4>© 2019 Lowell-Dashboard Github Organization. All Rights Reserved.</h4></center>
          </div>
        </div>
      </div>
</footer>

