<footer>
	  <h3>Lowell Dashboard</h3>

        <div class="col">
            <ul>
                <h5>Quick Links</h5>
                <a href="/login/"><p>Login</p></a>
                <a href="/register/form"><p>Register</p></a>
            </ul>
        </div>

        <div class="col">
            <ul>
                <h5>Forms</h5>
                <a href="/bugreport/form"><p>Report Bugs</p></a>
                <a href="/news/form"><p>Create News</p></a>
            </ul>
        </div>

        <div class="col">
            <ul>
                <h5>Help</h5>
                <a href="/help/"><p>Quick Help</p></a>
                <a href="/help/faq"><p>FAQ</p></a>
            </ul>
        </div>

        <div class="col">
            <ul>
                <h5>Policies</h5>
                <a href="/files/disclaimer"><p>Disclaimer</p></a>
                <a href="/files/license"><p>License</p></a>
                <a href="/files/privacy"><p>Privacy</p></a>
                <a href="/files/terms"><p>Terms</p></a>
                <a href="/files/guidelines"><p>Posting Guidelines</p></a>
            </ul>
        </div>

    <h4 class="copyright">© 2019 Lowell-Dashboard Github Organization. All Rights Reserved.</h4>

</footer>

