<section class="navigation">
    <div class="nav-container">
        <div class="brand">
            <a href="/home"><i class="fas fa-home"></i></a>
        </div>
        <nav>
            <div class="nav-mobile"><a id="nav-toggle" href="#"><span></span></a></div>
            <ul class="nav-list">
                <li>
                    <a href="#">Schedule <i class="fas fa-calendar-check nav-icon"></i></a>
                    <ul class="nav-dropdown">
                        <li>
                            <a href="/schedule/day">Day Schedule <i class="far fa-calendar nav-icon"></i></a>
                        </li>
                        <li>
                            <a href="/schedule/week">Week Schedule <i class="far fa-calendar-minus nav-icon"></i></a>
                        </li>
                        <li>
                            <a href="/schedule/month">Month Schedule <i class="far fa-calendar-alt nav-icon"></i></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Class Discussions <i class="fas fa-inbox nav-icon"></i></a>
                </li>
                <li>
                    <a href="/news">News <i class="far fa-newspaper nav-icon"></i></a>
                </li>
                <li>
                    {% if current_user.is_authenticated %}
                        <a href="/account">Account <i class="fas fa-sign-in-alt nav-icon"></i></a>
                        <a href="/logout">Logout <i class="fas fa-sign-in-alt nav-icon"></i></a>
                    {% else %}
                        <a href="#">Login/Register <i class="fas fa-sign-in-alt nav-icon"></i></a>
                        <ul class="nav-dropdown">
                            <li>
                                <a href="/login">Login <i class="fas fa-sign-in-alt nav-icon"></i></a>
                            </li>
                            <li>
                                <a href="/register">Register <i class="fas fa-user-plus nav-icon"></i></i></a>
                            </li>
                        </ul>
                    {% endif %}
                </li>
                <li>
                    <a href="#">Settings/Logout<i class="fas fa-user-cog nav-icon"></i></a>
                    <ul class="nav-dropdown">
                        <li>
                            <a href="#">Settings <i class="fas fa-cogs nav-icon"></i></a>
                        </li>
                        <li>
                            <a href="/logout">Logout <i class="fas fa-sign-out-alt nav-icon"></i></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</section>