<section class="navigation">
    <div class="nav-container">
        <div class="brand">
            <a href="/home"><i class="fas fa-home"></i></a>
        </div>
        <nav>
            <div class="nav-mobile"><a id="nav-toggle" href="#"><span></span></a></div>
            <ul class="nav-list">
                <li>
                    <a href="/home">Home <i class="fas fa-home"></i></a>
                </li>
                <li>
                    <a href="#">Schedule <i class="fas fa-calendar-check"></i></a>
                    <ul class="nav-dropdown">
                        <li>
                            <a href="/schedule/day">Day Schedule</a>
                        </li>
                        <li>
                            <a href="/schedule/week">Week Schedule</a>
                        </li>
                        <li>
                            <a href="/schedule/month">Month Schedule</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Class Discussions <i class="fas fa-inbox"></i></a>
                    <!--<ul class="nav-dropdown">
                        <li>
                            <a href="/schedule">Day Schedule</a>
                        </li>
                    </ul> Set this automatically later by class names user is in -->
                </li>
                <li>
                    <a href="/news">News <i class="fas fa-inbox"></i></a>
                    <!--<ul class="nav-dropdown">
                        <li>
                            <a href="/schedule">Day Schedule</a>
                        </li>
                    </ul> In case for more items like specific news items -->
                </li>
            </ul>
        </nav>
    </div>
</section>