{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block head_meta %}
    <meta name="description" content="Lowell Dashboard register">
{% endblock %}

{% block content %}
	<div class="content">
		<form method="POST" action="">
			<!-- Part of protecting the site from attacks -->
			{{ form.hidden_tag() }}
			<fieldset>
				<legend>Join Today</legend>
				<div class="form-group">
					<!-- Uncomment to add css to form -->
					<!-- {{ form.username.label(class="form-label-css") }} -->
					<!-- {{ form.username(class="form-field-css") }} -->
					{{ form.username.label() }}

					{% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username() }}
                    {% endif %}
				</div>
				<div class="form-group">
					<!-- Uncomment to add css to form -->
					<!-- {{ form.username.label(class="form-label-css") }} -->
					<!-- {{ form.username(class="form-field-css") }} -->
					{{ form.email.label() }}
					{% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email() }}
                    {% endif %}
				</div>
				<div class="form-group">
					<!-- Uncomment to add css to form -->
					<!-- {{ form.username.label(class="form-label-css") }} -->
					<!-- {{ form.username(class="form-field-css") }} -->
					{{ form.password.label() }}
					{% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password() }}
                    {% endif %}
				</div>
				<div class="form-group">
					<!-- Uncomment to add css to form -->
					<!-- {{ form.username.label(class="form-label-css") }} -->
					<!-- {{ form.username(class="form-field-css") }} -->
					{{ form.confirm_password.label() }}
					{% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password() }}
                    {% endif %}
				</div>
			</fieldset>
			<div class="form-group">
				{{ form.recaptcha }}
			</div>
			<div class="form-group">
				{{ form.submit() }}
			</div>
		</form>
	</div>
	<div class="">
		<small>
			<!-- Get the url path for the function login -->
			Already Have An Account? <a href="{{ url_for('login') }}"> Sign In</a>
		</small>
	</div>
{% endblock %}