<!DOCTYPE html>
<html>
<head>
	<style>
	html, body {margin:0px; padding:0px; background-color: #ddd;}
	.lowelldashboard {text-decoration: none;color: #000;}
	</style>
</head>
<body>
	<p>Hi,</p>

	<p>Somebody (hopefully you!) requested a password reset for a <a href="https://lowelldashboard.com" class="lowelldashboard">Lowell Dashboard</a> account.</p>

	<p><a href="{{ url }}">Your reset link is here</a>. It will expire in 30 minutes.</p>

	<p>- <a href="https://lowelldashboard.com" class="lowelldashboard">Lowell Dashboard Team</a></p>
</body>
</html>